div.results-item{
    width: 182px;
    height: 273px;
    border: 2px solid #ccc;
    float: left;
    margin: 0 10px 10px 0;
}

div.results-item img {
    width: 180px;
    height: 271px;
    object-fit: cover;
}

div.default {
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    background: #ccc;
    color: #fff;
}
