div.results-item{
    text-align: center;
    font-weight: bold;
    color: #ccc;
    width: 182px;
    height: 273px;
    border: 2px solid #ccc;
    float: left;
    margin: 0 10px 10px 0;
}

div.results-item img {
    width: 180px;
    height: 271px;
    object-fit: cover;
}

div.default {
    padding: 20px;
    font-size: 20px;
}
