div.default {
    text-align: center;
    font-weight: bold;
    color: #ccc;
    width: 180px;
    height: 271px;
    border: 2px solid #ccc;
}


div.results-item {
    float: left;
    padding: 0 10px 10px 0;
}
