#icon {
    text-align: center;
    font-size: 115px;
    font-weight: bold;
    color: #ccc;
    width: 180px;
    height: 271px;
    border: 2px solid #ccc;
    cursor: pointer;
    line-height: 2;
    border-radius: 10px;
    float: left;
    margin: 15px 20px 15px 0;
}

#icon:hover {
    color: white;
    border: 2px solid white;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    #icon {
        width: 66.42px;
        height: 100px;
        font-size: 43px;
    }
}
