#icon {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #ccc;
    width: 180px;
    height: 271px;
    border: 2px solid #ccc;
    cursor: pointer;
    line-height: 2;
    border-raidus: 5px;
}
