div.results-item,
div.results-placeholder-wrapper {
    width: 182px;
    height: 317.5px;
    float: left;
    margin: 15px 20px 15px 0;
}

div.results-placeholder,
div.title-placeholder {
    animation: fading 1.5s infinite;
}

div.title-placeholder {
    width: 110px;
    height: 15px;
    margin: 10px auto 0;
    background-image: linear-gradient(to top right, #ccc, #bbb, #aaa, #ccc);
    border-radius: 10px;
}

div.results-item img,
div.results-placeholder,
div.default {
    width: 180px;
    height: 271px;
    object-fit: cover;
    background-image: linear-gradient(to top right, black, #111, #222, black);
    border-radius: 5px;
}

div.default {
    text-align: center;
    font-weight: bold;
    padding: 30px 15px;
    font-size: 20px;
    color: #ccc;
    font-family: Georgia,"Palatino Linotype","Book Antiqua",Palatino,serif;
    margin-bottom: 5px;
    overflow: hidden;
}

div.book-title {
    text-align: center;
    font-weight: bold;
}
div.book-author {
    text-align: center;
    font-size: small;
}

@keyframes fading {
  0% {
    opacity: .1;
  }
  
  50% {
    opacity: .2;
  }
  
  100% {
    opacity: .1;
  }
}
