div.results-item,
div.results-placeholder-wrapper {
    width: 182px;
    height: 317.5px;
    float: left;
    margin: 15px 20px 15px 0;
    opacity: 0.9;
}

div.results-item:hover {
    color: white;
    opacity: 1;
}

div.results-placeholder,
div.title-placeholder,
div.author-placeholder {
    animation: fading 1.5s infinite;
}

div.title-placeholder,
div.author-placeholder {
    width: 110px;
    height: 15px;
    margin: 10px auto 0;
    background-image: linear-gradient(to top right, #ccc, #bbb, #aaa, #ccc);
    border-radius: 10px;
}

div.results-item img,
div.results-placeholder,
div.default {
    width: 180px;
    height: 271px;
    object-fit: cover;
    background-image: linear-gradient(to top right, black, #111, #222, black);
    border-radius: 5px;
}

div.default {
    text-align: center;
    font-weight: bold;
    padding: 30px 15px;
    margin-bottom: 5px;
}

div.default div {
    font-family: Georgia,"Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 20px;
    max-height: 150px;
    color: #ccc;
    overflow: hidden;
}

div.book-title {
    text-align: center;
    font-weight: bold;
    font-size: normal;
}
div.book-author {
    text-align: center;
    font-size: small;
}

@keyframes fading {
  0% {
    opacity: .1;
  }
  
  50% {
    opacity: .2;
  }
  
  100% {
    opacity: .1;
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    div.results-item,
    div.results-placeholder-wrapper {
        width: 66.42px;
        height: 137.5px;
        margin: 10px 17px 10px 0;
        opacity: 1;
    }

    div.results-item img,
    div.results-placeholder,
    div.default {
        width: 66.42px;
        height: 100px;
    }

    div.default {
        padding: 20px 15px;
    }

    div.default div {
        max-height: 50px;
        font-size: xx-small;
    }

    div.title-placeholder {
        width: 56px;
    }

    div.author-placeholder {
        display: none;
    }

    div.book-title {
        font-size: x-small;
    }

    div.book-author {
        font-size: xx-small;
    }

}
