<div id="results-wrapper">
    <ng-container *ngIf="isLoading">
        <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" class="results-placeholder-wrapper">
            <div class="results-placeholder"></div>
            <div class="title-placeholder"></div>
            <div class="author-placeholder"></div>
        </div>
    </ng-container>
    <div class="results-item" *ngFor="let book of results">
        <img (click)="onBookClick(book)" *ngIf="!!book.thumbnailUrl" class="thumbnail pointer box-shadow-dreamy" src="{{book.thumbnailUrl}}" alt="{{book.title}} {{book.authors}}" />
        <div (click)="onBookClick(book)" class="default pointer box-shadow-dreamy" *ngIf="!book.thumbnailUrl">
            <span>{{book.title}}</span>
        </div>
        <div class="book-title ellipsis" title="{{book.title}}">{{book.title}}</div>
        <div class="book-author ellipsis" title="{{book.authors}}">{{book.authors}}</div>
    </div>
</div>
