div#home-wrapper {
    min-width: 100%;
    min-height: 100%;
    background: url('/src/assets/home-bg.jpg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
