<div #modal *ngIf="book !== undefined" id="myModal" class="modal" [style.display]="getDisplay()">
    <!-- Modal content -->
    <div class="modal-content">
        <a href="#" class="back pointer" (click)="onCloseClick()">Back</a>
        <h1>{{book.title}}</h1>
        <img *ngIf="!!book.thumbnailUrl" class="thumbnail box-shadow-dreamy" src="{{book.thumbnailUrl}}" alt="{{book.title}} {{book.authors}}" />
        <ul>
            <li>
                <a target="_blank" href="{{getInfoUrl(book)}}">Info</a>
            </li>
            <li>
                <a href="#" (click)="delete()">Delete</a>
            </li>
        </ul>
    </div>
</div>
